@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,400&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
}

.App {
  padding: 0;
}

.back-button {
  position: absolute;
  color: white;
  padding-left: 12px;
  padding-top: 6px;
}
.back-button a {
  color: white;
  font-weight: bold;
}